// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
@import "../_common/utils";

.social-links {
  display: none !important;
}

.copyright {
  .power-by,
  .theme-info,
  .division {
    display: none !important;
  }

  .copyright-year {
    position: relative;
    top: -10px;
  }
}

#valine-container {
  .vsys,
  .vpower.txt-right {
    display: none !important;
  }
}


.post {
  .post-header .post-meta .post-visits {
    display: none !important;
  }
}

@include max-screen() {
  .post {
    padding-top: 1.5em !important;
  }
}
